<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">CodeView</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Code</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <h3>Settings</h3>
      <select class="form-control" ng-model="data.lang" ng-options="lang.name for lang in langs track by lang.id" ng-change="updateLang()">
        <option value="">Select a language</option>
      </select>
      <br/>
      <a href="" class="btn btn-info" ng-click="execute1()">Run Your Code</a>
      <br/>
      <br/>
      <a href="" class="btn btn-primary" ng-click="execute2()">Run {{coder ? 'Interviewer' : 'Candidate'}}'s Code</a>
      <br/>
      <br/>
      <a href="/moxtra" class="btn btn-success" target="_blank">Start Conference Call</a>
    </div>

    <div class="col-md-5">
      <h2>Your code</h2>
      <div class="aceasdfbox" ui-ace="aceOpts" ng-model="mycode"></div>
    </div>

    <div class="col-md-5">
      <h2>{{coder ? 'Interviewer' : 'Candidate'}}'s code</h2>
      <div class="aceasdfbox" ui-ace="aceOpts" ng-model="theircode" readonly></div>
    </div>

  </div>
</div>
