<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">CodeView</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Code</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <h3>Language</h3>
      <select class="form-control" ng-model="data.lang" ng-options="lang.name for lang in langs track by lang.id" ng-change="updateLang()">
        <option value="">Select a language</option>
      </select>

      <a href="" class="btn btn-primary" ng-click="execute1()">Execute Interviewer</a>
      <a href="" class="btn btn-primary" ng-click="execute2()">Execute Candidate</a>
    </div>

    <div class="col-md-5">
      <h2>Your code</h2>
      <div ui-ace="aceOpts" ng-model="code" ng-readonly="!coder"></div>
    </div>

    <div class="col-md-5">
      <h2>{{coder ? 'Interviewer' : 'Interviewee'}}'s code</h2>
      <div ui-ace="aceOpts" ng-model="code2" ng-readonly="coder"></div>
    </div>

  </div>
</div>
