<div class="text-center dead-center">
  <h1 class="findi">Finding {{(type == 'coder') ? 'interviewer' : 'interviewee'}}s...</h1>
  <i class="fa fa-spin fa-spinner huge-ass"></i>
  <p class="beg">Please wait...</p>
</div>
<style type="text/css">
  .dead-center {
    width: 500px;
    height: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -250px;
    margin-top: -250px;
  }

  .findi {
    font-size: 80px;
  }

  .huge-ass {
    font-size: 200px;
  }

  .beg {
    font-size: 40px;
  }
</style>
